[Unit]
Description=last.played plack daemon
After=syslog.target

[Service]
User=www-data
Group=www-data
Type=forking
Environment="LASTFM_API_KEY="
Environment="LASTFM_USER_ID="
ExecStart=/usr/bin/starman -a /usr/local/bin/last.played.psgi -l 127.0.0.1:5010 \
    --daemonize --access-log /var/log/last.played.log --workers 5 -E deployment
Restart=always

[Install]
WantedBy=multi-user.target
